<%= form_for [@event, comment], html: { data: { turbo: false } } do |f| %>
    <%= render partial: 'partials/form_errors', locals: {resource: comment} %>

    <div class="col-auto mt-3">
      <%= f.text_area :body, class: "form-control shadow-sm", placeholder: t("activerecord.attributes.comment.body") %>
    </div>

    <% unless user_signed_in? %>
        <div class="col-auto mt-3">
          <%= f.text_field :user_name, class: "form-control shadow-sm",
            placeholder: t("activerecord.attributes.comment.author.name") %>
        </div>
    <% end %>

    <div class="col-auto mt-4">
      <%= f.submit t("confirmation.buttons.save"), class: 'btn btn-primary' %>
    </div>
<% end %>
