<%= form_for @user, html: {multipart: true, data: { turbo: false } } do |f| %>
  <%= render partial: "partials/form_errors", locals: {resource: @user} %>

  <div class="form-group mt-5">
    <%= f.label :name, t("activerecord.attributes.user.name") %>
    <%= f.text_field :name, class: "form-control mt-2" %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :email, t("activerecord.attributes.user.email") %>
    <%= f.text_field :email, class: "form-control mt-2" %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :avatar, t("activerecord.attributes.user.avatar") %><br>
    <%= image_tag(user_avatar(@user), alt: t("images.alt.user_avatar"), class: "my-2") %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions mt-4">
    <%= f.submit t("confirmation.buttons.save"), class: "btn btn-primary" %>
    <%= " #{t("links.or")} " %>
    <%= link_to t("links.back"), :back %>
  </div>
<% end %>
