<div class="text-center">
  <h1 class="mt-4"><%= @user.name %></h1>
  <%= image_tag user_avatar(@user), alt: t("images.alt.user_avatar"), class:"mt-3" %>

  <% if @user == current_user %>
    <p class="mt-4"><%= link_to t("views.user.edit"), edit_user_path(@user), class: 'btn btn-success' %></p>
  <% end %>

  <div class="row my-4">
  <div class="col-md-12">
    <% if @user.events.any? %>
      <h3 class="text-start"><%= t("views.user.show.have_events") %></h3>
      <div class="row">
        <%= render partial: 'events/event', collection: @user.events %>
      </div>
    <% else %>
      <p class="mt-4"><%= t("views.user.show.have_no_events") %></p>
    <% end %>
  </div>
</div>
</div>
