<div class="col-sm-6 col-md-4 mt-4 d-flex align-items-stretch">
  <div class="card w-100">
    <img src=<%= asset_path('event_thumb.jpg') %> class="card-img-top" alt=<%= t("images.alt.event") %>>
  
    <div class="card-body">
      <div class="card-text">
        <h3><%= link_to event.title, event_path(event) %></h3>
        <h3><small><%= l event.datetime, format: :short %></small></h3>
        <div class="mt-5 mb-2"><%= event.address %></div>
      </div>

      <div>
        <% event.visitors.each do |user| %>
          <img src=<%= user_avatar_thumb(user) %> width=30px height=30px class="rounded"
            title=<%= user.name %> alt=<%= t("images.alt.user_avatar") %>>
        <% end %>
      </div>
    </div>
  </div>
</div>
