<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {resource: @event} %>
  
  <form class="row gy-2 gx-3 align-items-center">
    <div class="col-auto mt-3">
      <%= f.text_field :title, class: 'form-control shadow-sm', placeholder: "Название" %>
    </div>

    <div class="col-auto mt-3">
      <%= f.text_field :address, class: 'form-control shadow-sm', placeholder: "Адрес" %>
    </div>

    <div class="col-auto mt-3">
      <%= f.label :datetime, "Время" %>
      <p class="mt-2"><%= f.datetime_select :datetime%></p>
    </div>

    <div class="col-auto mt-4">
      <%= f.text_area :description, class: 'form-control shadow-sm', placeholder: "Описание" %>
    </div>

    <div class="col-auto mt-4">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'Назад', :back %>
    </div>
  </form>
<% end %>
