<h1 class="mt-4"><%= t("event.pincode.access") %></h1>

<%= form_tag event, method: :get do |f| %>
  <div class="col-auto mt-3">
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control shadow-sm',
      placeholder: t("activerecord.attributes.event.pincode") %>
  </div>

  <div class="col-auto mt-4">
    <%= submit_tag t("confirmation.buttons.approve"), class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="mt-3">
  <%= link_to t("links.main"), events_path %>
</div>
