<div class="card my-5">
  <img src=<%= asset_path('event.jpg') %> class="card-img-top" alt="Картинка ивента">

  <div class="card-body">
    <div class="card-text text-center">
      <h1><%= @event.title %></h1>
      <h3><%= l @event.datetime, format: :short %></h3>
      <h3><small><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
      <p><%= @event.description %></p>
    </div>

    <div class="mt-5">
      <% if current_user_can_edit?(@event) %>
        <div class="text-center">
          <%= link_to 'Изменить', edit_event_path(@event), class: 'btn btn-primary' %>
        </div>
        <div class="text-center">
          <%= button_to "Удалить событие", @event, method: :delete, 
            form: {data: {turbo_confirm: t('are_you_sure')}}, class:"btn btn-danger mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
