<div class="card my-5">
  <%= image_tag event_photo(@event), alt: t("images.alt.event"), class: "card-img-top", height: '600' %>

  <div id="map" data-address=<%= @event.address %> class="mb-2 w-100" style="height: 400px"></div>

  <div class="card-body">
    <div class="card-text text-center">
      <h1><%= @event.title %></h1>
      <h3><%= l @event.datetime, format: :short %></h3>
      <h3><small><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
      <p><%= @event.description %></p>
    </div>

    <div class="my-4 d-flex align-items-center justify-content-center">
      <% if current_user_can_edit?(@event) %>
        <%= link_to t("views.event.edit"), edit_event_path(@event), class: "btn btn-primary me-1" %>
        <%= button_to t("views.event.delete"), @event, method: :delete, 
          form: { data: { turbo_confirm: t("confirmation.messages.are_you_sure") } }, class:"btn btn-danger ms-1" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if @event.photos.persisted.any? %>
        <div class="my-1 mx-2 py-2 px-2 row">
          <h3 class="text-center mb-4">Галерея события</h3>
          <%= render partial: "photos/photo", collection: @event.photos.except(@new_photo)%>
        </div>
      <% end %>

      <% if signed_in? %>
        <div class="mx-2 py-2 px-2 text-center border border-primary rounded">
          <%= render partial: "photos/form", locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-8">
      <div class="container mt-2">
        <div class="px-2 py-2">
          <%= render partial: "comments/form", locals: {comment: @new_comment || @event.comments.build} %>
        </div>
        
        <div class="mt-5">
          <%= render partial: "comments/comment", collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-2">
      <div class="container">
        <h4><%= t("views.event.show.calling") %></h4>
          <p><%= render partial: "users/user", object: @event.user %></p>
      </div>
      <div class="container mt-2">
        <h4><%= t("views.event.show.who_will_go") %></h4>
        <div>
          <p><%= render partial: "subscriptions/subscription",
            collection: @event.subscriptions.except(@new_subscription) %></p>
        </div>
      </div>
      <% unless current_user == @event.user %>
        <div class="container mt-2">
          <h4><%= t("views.event.show.i_will_go") %></h4>
          <div>
            <%= render partial: "subscriptions/form",
              locals: {subscription: @new_subscription || @event.subscriptions.build} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'lightbox' %>
